h1 {
    font-family: 'Pacifico', cursive;
}
p {background-color: hotpink;}
span {background-color: greenyellow;}


table{
text-align: center;
border: 2px solid blue; 
/* border-right: 3px solid royalblue;
border-left: 3px double rosybrown;
border-top: 3px dotted forestgreen;
border-bottom: 3px dashed darkred; */
}
td, th {
    border: 2px solid darkslategray;
}